.mainSection {
  display: flex;
  width: 100%;
  /* max-width: 1520px; */
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: var(--Neutral-2, #fafafa);
}

.publishedSection {
  display: flex;
  width: 960px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.bgCover {
  height: 120px;
  align-self: stretch;
  background: lightgray 50% / cover no-repeat;
}

.coverMain {
  border-radius: 8px;
  border: 1px solid var(--Neutral-4, #f0f0f0);
  background: #fff;
}

.cover {
  height: 120px;
  align-self: stretch;
  background: lightgray 50% / cover no-repeat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.coverImg {
  height: 120px;
  height: 120px;
  width: 912px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.avatar {
  border-radius: 96px;
  height: 96px;
  /* border: 4px solid var(--Neutral-1, #fff); */
  background: #fef9d1 50% / contain no-repeat;
  position: absolute;
  margin-left: 22px;
  top: 180px;
}

.avatar img {
  background-color: #fef9d1;
}

.offineedMain {
  display: flex;
  padding: 60px 24px 24px 24px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.offineedsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
}

.textOffineed {
  width: 439px;
}

.textOffineed h5 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */
}

.textOffineed p {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.hidden {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cityTime {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cityTime p {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.middleDot {
  color: var(--color-gray-light);
}

.socialMain {
  display: flex;
  padding-top: 12px;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.laungage {
  display: flex;
  margin-top: 2%;
  margin-left: 50rem;
  margin-right: 20px;
  padding: 1px 8px;
  align-items: center;
  gap: 4px;
  border-radius: 2px;
  border: 1px solid var(--Neutral-8);
  background: var(--Neutral-1);
}

.messageContainer {
  display: flex;
  gap: 10px;
}

.messageBox {
  display: flex;
  padding: 4px 15px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid var(--Primary-6, #4800ff);
  background: var(--Primary-6, #4800ff);

  /* drop-shadow/button-primary */
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
}

.messageBox button {
  color: var(--character-primary-inverse, #fff);
  text-align: center;
  background: none;
  border: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.messageLogo {
  display: inline-flex;
  width: 32px;
  height: 32px;
  padding: 8px;
  align-items: center;
  padding-left: 10px;
  gap: 4px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid var(--Neutral-7, #8c8c8c);
}

/* About Section CSS */

.aboutMain {
  display: flex;
  padding: 24px;
  max-height: 266px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  border: 1px solid var(--Neutral-4, #f0f0f0);
  background: var(--Neutral-1, #fff);
  width: 912px;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.AboutTextContainer {
  width: 629px;
}
.AboutTextContainer p {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 157.143% */
}

.aboutImageContainerBox {
  display: flex;
  align-items: flex-start;
  gap: 28px;
}

.aboutImageContainerBox img {
  border-radius: 6px;
  background: lightgray 50% / cover no-repeat;
  width: 197.87px;
  height: 140px;
}

.aboutShareContainer {
  display: flex;
  width: 198px;
  padding: 8px;
  align-items: flex-end;
  gap: 4px;
}

.duration {
  flex: 1 0 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
}

.download {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 4px;
  border-radius: 4px;
  background: #fff;
}

.share {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: var(--Neutral-1, #fff);
}

.aboutText {
  width: 637px;
  position: absolute;
  margin-left: 13rem;
  margin-top: 28px;
}

.aboutText p {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.mediaContainer {
  display: flex;
  padding: 8px 12px;
  align-items: center;
  gap: 14px;
  margin-left: 17%;
  border-radius: 8px;
  background: var(--Neutral-1, #fff);
  position: relative;
  box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12),
    0px 6px 16px 0px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.decksShareContainer {
  display: flex;
  width: 198px;
  padding: 8px;

  gap: 4px;
}

.decksShareContainer p {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
}

.container {
  display: flex;
  flex-direction: row; /* Display items in a horizontal row */
  flex-wrap: wrap; /* Allow wrapping to new lines if necessary */
  gap: 15px;
}

.decksImageContainerBox {
  display: flex;
  align-items: flex-start;
  gap: 28px;
}

.decksImageContainerBox img {
  border-radius: 6px;
  background: lightgray 50% / cover no-repeat;
  width: 197.87px;
  height: 140px;
}

.secondPage {
  display: flex;
  padding: 24px;
  width: 912px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  background: var(--Neutral-1, #fff);
}

.offeringMain {
  display: flex;
  width: 864px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.offeringContainer {
  display: flex;
  /* width: 117px; */
  gap: 20px;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Neutral-4, #f0f0f0);
  /* background: #ebf4ff; */
}

.offeringContainer img {
  height: 108px;
  width: 116px;
  border-radius: 8px 8px 0px 0px;
}

.offeringTextContainer {
  display: flex;
  padding: 6px 0px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.offeringTextContainer p {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  /* background: #ebf4ff; */
}

.clientContainer {
  display: flex;
  /* width: 117px; */
  gap: 20px;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Neutral-4, #f0f0f0);
  /* background: #ebf4ff; */
}

.clientContainer img {
  height: 60px;
  width: 96px;
  border-radius: 8px 8px 0px 0px;
}

.affiliationsMain {
  display: flex;
  width: 864px;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
}

.excellenceContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}

.wtoExcellenceContainer {
  display: flex;
  width: 440px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.certificationMain {
  display: flex;
  width: 864px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.certificationTextContainer {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.certificationTextContainer p {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

.wtoExcellenceMain {
  display: flex;
  width: 864px;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
}

.wtoBoxContainer {
  display: flex;
  width: 440px;
  align-items: flex-start;
  gap: 4px;
  padding-top: 16px;
}

.wtoTextBox {
  display: flex;
  width: 440px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.wtoTextBox h5 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.worldText {
  display: flex;
  align-items: center;
  gap: 8px;
}
.worldText p {
  color: var(--Neutral-9, #434343);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.wtoImgContainer {
  padding-top: 12px;
  display: flex;
  gap: 8px;
}

.wtoImgContainer img {
  width: 113.071px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 6px;
  background: lightgray 50% / cover no-repeat;
}

.linkCertificate {
  display: flex;
  width: 804px;
  align-items: center;
  gap: 8px;
}

.linkurl {
  color: var(--Primary-6, #4800ff);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  width: 780px;
  flex-shrink: 0;
}

.geoGraphImgContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.geoImgBox {
  display: flex;
  width: 117px;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Neutral-4, #f0f0f0);
  /* background: #ebf4ff; */
}

.geoTextContainer {
  display: flex;
  padding: 6px 0px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.geoTextContainer p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.achiveDesc {
  color: var(--Neutral-11, #1f1f1f);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.authorMainBox {
  display: flex;
  width: 296px;
  align-items: center;
  gap: 8px;
}

.authorMainBox p {
  color: var(--Neutral-9, #434343);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
  gap: 8px;
}

.carouselslide {
  flex: 1 0 18%; /* 4 images per view */
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
  transition: transform 0.5s ease;
}

.carouselslide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.teamSection {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.teamBox {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}
.teamTop {
  width: 112px;
  height: 42px;
  border-radius: 4px 4px 0px 0px;
  background: #ebf4ff;
}

.memberBox {
  display: flex;
  padding: 36px 12px 12px 12px;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid var(--Neutral-4, #f0f0f0);
  background: var(--Neutral-2, #fafafa);
}

.memberBox p {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
}

.teamContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.teamImgBox {
  display: flex;
  width: 117px;
  height: 134px;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Neutral-4, #f0f0f0);
}

.teamImgBox img {
  height: 60px;
  width: 60px;
  border-radius: 38px;
  background: #d3d3d3 50% / cover no-repeat;
  margin-left: 28px;
  margin-top: 12px;
}

.teamDesc {
  margin-top: 30px;
}

.teamText {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
}

.testimonialMain {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid var(--Neutral-4, #f0f0f0);
  background: #fff;
}

.testimonialContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

/* Mobile Responsive */
.mobileView {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  background: var(--Neutral-2);
}

.userDetail {
  display: flex;
  padding-bottom: 12px;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  background: var(--Neutral-1, #fff);
}

.userAvatar {
  border-radius: 80px;
  border: 3.333px solid var(--Neutral-1, #fff);
  background: lightgray 50% / contain no-repeat;
  position: absolute;
  left: 25px;
  margin-top: 25px;
}

.selectLaungage {
  display: flex;
  padding: 0px 8px;
  align-items: center;
  gap: 12px;
  position: absolute;
  right: 18.21px;
  top: 172px;
  border-radius: 2px;
  border: 1px solid var(--Neutral-8, #595959);
  background: var(--Neutral-1, #fff);
}

.selectLaungage p {
  color: var(--character-primary-88, rgba(0, 0, 0, 0.85));
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 183.333% */
}

.userContactDetail {
  display: flex;
  width: 320px;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  margin-right: 60px;
}

.userContactDetail h5 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.userContactDetail p {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.aboutMainMobile {
  display: flex;
  width: 360px;
  padding: 12px 20px;
  align-items: center;
  gap: 12px;
  margin-right: 60px;
  max-height: 425px;
  background: var(--Neutral-1, #fff);
}

.aboutContainerMobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
}

.aboutMobileText p {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 157.143% */
}

.aboutShareMobile {
  display: flex;
  width: 198px;
  padding: 0px 8px 4px 8px;
  align-items: flex-end;
  gap: 4px;
}

.timestamp {
  display: flex;
  height: 32px;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 0;
}

.timestamp p {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
}

.aboutDescMobile {
  flex: 1 0 0;
}

.aboutDescMobile p {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.seeMoreMobilebtn {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  border: none;
  display: flex;
  position: absolute;
  right: 18px;
  bottom: 28px;
  font-family: "__Roboto_c5054f";
}

.seeLessMobilebtn {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  border: none;
  display: flex;
  position: absolute;
  right: 23px;

  font-family: "__Roboto_c5054f";
}

/* Adjust styles for responsiveness */
.mobileContainer {
  display: flex;
  gap: 15px; /* Adjust spacing between items */
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
  padding-bottom: 10px; /* Optional: Add padding to the bottom to prevent content from being covered by the scrollbar */
}
