.carousel-container {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.carousel-wrapper {
  /* border: 2px solid #ddd; */
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 36px;
  background: rgba(0, 0, 0, 0.45);
  color: white;

  cursor: pointer;
  padding: 10px;
  font-size: 12px;
  z-index: 1;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 0px;
}
